* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section,
nav {
  display: flex;
}

img {
  width: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  padding: 20px 50px;
  z-index: 100000;

}
nav.nav{
  background: #fca311;
  padding: 5px 100px;
}

nav,
section {
  margin-top: 0px;
  margin-bottom: 50px;
}

.nav-items ul li {
  display: inline-block;
}

.nav-items {
  margin: auto 0 auto auto;
  font-weight: 500;
}

.nav-items a {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
}

nav>p {
  font-size: 2rem;
  font-weight: 600;
}

a {
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
}

a.button {
  color: #ffffff;
  background-color: #fca311;
}

a.learn {
  color: #fca311;
  background-color: transparent;
}

#banner a.learn {
  border: 2px solid #fca311;
}

#banner>div,
#service-1>div,
#service-2>div {
  margin: auto;
  padding: 0 20% 0 0;
}

section>img {
  padding: 40px 0;
}

#service-1>div {
  padding: 0 0 0 20%;
}

#services>div {
  text-align: center;
  padding: 20px;
  margin: 0 40px;
}

#services>div:hover {
  background-color: #fca311;
  border-radius: 5px;
  color: #fff;
}

#services>div:hover i,
#services>div:hover a {
  color: #fff;
}

#banner h1 {
  font-size: 3.1rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

span {
  color: #fca311;
}

div>p {
  margin: 20px 0 40px;
}

i {
  font-size: 2.5rem;
  color: #fca311;
  margin: 20px 0;
}

.dropdown {
  display: inline-block;
  
}

.dropdown a {
  cursor: pointer;
}

.dropdown-link {
  display: none;
  position: fixed;
  top: 10%;
  background-color: #e9e7e4;
  border-radius: 5px;
}

.dropdown-link a {
  display: block;
}

footer {
  background-color: #fca311;
}

.info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 4% 0%;
  color: #fff;
}

footer h3 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.info>div:first-child {
  width: 30%;
}

.info>div:nth-child(2) {
  padding-left: 40px;
  width: 25%;
}

.info>div:nth-child(3) {
  width: 40%;
}

div:nth-child(2) ul {
  padding-left: 10px
}

ul {
  list-style-type: none;
}

ul li {
  list-style: '>';
  margin-bottom: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding-left: 5px;
}

form input {
  display: block;
  border: none;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

input[type="text"] {
  padding-bottom: 20px;

}

input::placeholder {
  color: #fff;
}

input[type="submit"] {
  padding: 10px 30px;
  background-color: #fff;
  color: #f9a113;
  font-size: 1.5em;
  margin-top: 20px;
}

.copy {
  background-color: #9C5500;
  text-align: center;
  padding: 20px 0;
  color: #fff;
}

input{
  padding: 10px;
}

#email  #pass1  #pass #name{
  height: 10px;
}