div{
  border: 1px solid;
  
}

.flex-container{
width:auto;
text-align: center;
height: auto;
display: flex;
flex-direction: row;
margin-left: 200px;
margin-right: 200px;

}

#bleft, #center, #bright{
  width:290px;
  height: 200px;
  text-align: center;
 
 
}

#header, #footer{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
 
  
}

#header div, #bleft div, #center div, #bright div, #footer div{
  background-color: rgba(58, 57, 57, 0.968);
  margin: 11px;
}

#header{
  margin-top: 170px;;
}









